kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
  name: civo-volume
  annotations:
    storageclass.kubernetes.io/is-default-class: "true"
provisioner: csi.civo.com
allowVolumeExpansion: false
