---
kind: StatefulSet
apiVersion: apps/v1
metadata:
  name: civo-csi-controller
  namespace: kube-system
spec:
  serviceName: "civo-csi"
  selector:
    matchLabels:
      app: civo-csi-controller
  replicas: 1
  template:
    metadata:
      labels:
        app: civo-csi-controller
        role: civo-csi
    spec:
      priorityClassName: system-cluster-critical
      tolerations:
      - key: node.kubernetes.io/disk-pressure
        operator: Exists
      - effect: NoExecute
        key: node.kubernetes.io/not-ready
        operator: Exists
        tolerationSeconds: 30
      - effect: NoExecute
        key: node.kubernetes.io/unreachable
        operator: Exists
        tolerationSeconds: 30
      serviceAccount: civo-csi-controller-sa
      containers:
        - name: csi-provisioner
          image: k8s.gcr.io/sig-storage/csi-provisioner:v6.0.0
          args:
            - "--csi-address=$(ADDRESS)"
            - "--default-fstype=ext4"
            - "--timeout=30s"
            - "--v=5"
          env:
            - name: ADDRESS
              value: /var/lib/kubelet/plugins/csi.civo.com/csi.sock
          imagePullPolicy: "IfNotPresent"
          volumeMounts:
            - name: socket-dir
              mountPath: /var/lib/kubelet/plugins/csi.civo.com
        - name: csi-attacher
          image: k8s.gcr.io/sig-storage/csi-attacher:v4.10.0
          args:
            - "--csi-address=$(ADDRESS)"
            - "--timeout=30s"
            - "--v=5"
          env:
            - name: ADDRESS
              value: /var/lib/kubelet/plugins/csi.civo.com/csi.sock
          imagePullPolicy: "IfNotPresent"
          volumeMounts:
            - name: socket-dir
              mountPath: /var/lib/kubelet/plugins/csi.civo.com
        - name: csi-resizer
          image: k8s.gcr.io/sig-storage/csi-resizer:v2.0.0
          args:
            - "--v=5"
            - "--csi-address=$(ADDRESS)"
            - "--timeout=10m"
          env:
            - name: ADDRESS
              value: /var/lib/kubelet/plugins/csi.civo.com/csi.sock
          imagePullPolicy: "IfNotPresent"
          volumeMounts:
            - name: socket-dir
              mountPath: /var/lib/kubelet/plugins/csi.civo.com
        - name: csi-snapshotter
          image: k8s.gcr.io/sig-storage/csi-snapshotter:v8.4.0
          args:
            - "--v=5"
            - "--csi-address=$(ADDRESS)"
            - "--timeout=30s"
          env:
            - name: ADDRESS
              value: /var/lib/kubelet/plugins/csi.civo.com/csi.sock
          imagePullPolicy: "IfNotPresent"
          volumeMounts:
            - name: socket-dir
              mountPath: /var/lib/kubelet/plugins/csi.civo.com
        - name: civo-csi-plugin
          image: gcr.io/consummate-yew-302509/csi:latest
          env:
            - name: CSI_ENDPOINT
              value: unix:///var/lib/kubelet/plugins/csi.civo.com/csi.sock
            - name: CIVO_API_KEY
              valueFrom:
                secretKeyRef:
                  name: civo-api-access
                  key: api-key
            - name: CIVO_REGION
              valueFrom:
                secretKeyRef:
                  name: civo-api-access
                  key: region
            - name: CIVO_NAMESPACE
              valueFrom:
                secretKeyRef:
                  name: civo-api-access
                  key: namespace
            - name: CIVO_CLUSTER_ID
              valueFrom:
                secretKeyRef:
                  name: civo-api-access
                  key: cluster-id
            - name: CIVO_API_URL
              valueFrom:
                secretKeyRef:
                  name: civo-api-access
                  key: api-url
          imagePullPolicy: "Always"
          volumeMounts:
            - name: socket-dir
              mountPath: /var/lib/kubelet/plugins/csi.civo.com
      volumes:
        - name: socket-dir
          emptyDir: {}
