---
kind: DaemonSet
apiVersion: apps/v1
metadata:
  name: civo-csi-node
  namespace: kube-system
spec:
  selector:
    matchLabels:
      app: civo-csi-node
  template:
    metadata:
      labels:
        app: civo-csi-node
        role: civo-csi
    spec:
      priorityClassName: system-node-critical
      serviceAccount: civo-csi-node-sa
      hostNetwork: true
      tolerations:
      - key: node.kubernetes.io/disk-pressure
        operator: Exists
      - key: node.kubernetes.io/memory-pressure
        operator: Exists
      - key: node.kubernetes.io/network-unavailable
        operator: Exists
      - key: node.kubernetes.io/not-ready
        operator: Exists
      - key: node.kubernetes.io/pid-pressure
        operator: Exists
      - key: node.kubernetes.io/unreachable
        operator: Exists
      - key: node.kubernetes.io/unschedulable
        operator: Exists
      containers:
        - name: csi-driver-registrar
          image: k8s.gcr.io/sig-storage/csi-node-driver-registrar:v2.15.0
          args:
            - "--v=5"
            - "--csi-address=/csi/csi.sock"
            - "--kubelet-registration-path=/var/lib/kubelet/plugins/csi.civo.com/csi.sock"
            - "--health-port=9809"
            - "--timeout=30s"
          ports:
          - containerPort: 9809
            name: healthz
          livenessProbe:
            httpGet:
              path: /healthz
              port: healthz
            initialDelaySeconds: 30
            timeoutSeconds: 30
            periodSeconds: 30
            failureThreshold: 10
            successThreshold: 1
          env:
            - name: ADDRESS
              value: /csi/csi.sock
            - name: DRIVER_REG_SOCK_PATH
              value: /var/lib/kubelet/plugins/csi.civo.com/csi.sock
            - name: KUBE_NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
          volumeMounts:
            - name: plugin-dir
              mountPath: /csi
            - name: registration-dir
              mountPath: /registration
        - name: civo-csi-plugin
          image: gcr.io/consummate-yew-302509/csi:latest
          env:
            - name: CIVO_API_KEY
              valueFrom:
                secretKeyRef:
                  key: api-key
                  name: civo-api-access
            - name: CIVO_REGION
              valueFrom:
                secretKeyRef:
                  key: region
                  name: civo-api-access
            - name: CIVO_NAMESPACE
              valueFrom:
                secretKeyRef:
                  key: namespace
                  name: civo-api-access
            - name: CIVO_CLUSTER_ID
              valueFrom:
                secretKeyRef:
                  key: cluster-id
                  name: civo-api-access
            - name: CIVO_API_URL
              valueFrom:
                secretKeyRef:
                  key: api-url
                  name: civo-api-access
            - name: CSI_ENDPOINT
              value: unix:///csi/csi.sock
          imagePullPolicy: "Always"
          securityContext:
            privileged: true
            capabilities:
              add: ["SYS_ADMIN"]
            allowPrivilegeEscalation: true
          volumeMounts:
            - name: plugin-dir
              mountPath: /csi
            - name: etc-dir
              mountPath: /etc
              readOnly: true
            - name: pods-mount-dir
              mountPath: /var/lib/kubelet/pods
              mountPropagation: "Bidirectional"
            - name: device-dir
              mountPath: /dev
      volumes:
        - name: registration-dir
          hostPath:
            path: /var/lib/kubelet/plugins_registry/
            type: Directory
        - name: plugin-dir
          hostPath:
            path: /var/lib/kubelet/plugins/csi.civo.com/
            type: DirectoryOrCreate
        - name: pods-mount-dir
          hostPath:
            path: /var/lib/kubelet/pods
            type: Directory
        - name: etc-dir
          hostPath:
            path: /etc
        - name: device-dir
          hostPath:
            path: /dev
        - name: udev-rules-dir
          hostPath:
            path: /etc/udev/rules.d/
